<!-- Make the form for uploading a new review -->
{% extends 'templates/base.html' %}
{% block content %}
<h1>Create a review {% if curr_prof %} for {{ prof.first_name }} {{ prof.last_name }}{% endif %}</h1>
<form method="POST">
	{% csrf_token %}
	<p>{{ review_form.message }}</p>
	<p>{{ review_form.rating }}</p>
	{% if not curr_prof %}
	<!-- If no prof selected, show all profs and courses -->
	<p>{{ review_form.prof }} <span id="show" style="display: none">Getting Courses...</span></p>

	{% else %}
	<p>{{ review_form.course }}</p>

	{% endif %}
	<button id="save" type="submit" style="display: none">Save</button>
	{% if messages %}
	{% for message in messages %}
	{{ message }}
	{% endfor %}
	{% endif %}

	<!-- AJAX -->
	<script type="text/javascript">
		var profDropDown = document.getElementById('prof');
		try {
			document.getElementById('id_course').addEventListener("change", showSave);
		}
		catch(e) {

		}
		
		// Runs when a prof is selected from drop down
		function dropDownSelect() {
			if(profDropDown.selectedIndex > 0) {
				var profName = profDropDown.options[profDropDown.selectedIndex].text;
				if(profName !== "") {
					console.log("Getting courses of " + profName);
					callXHR(profName);
				}
			}
		}

		function showSave() {
			document.querySelector("#save").style.display = "inline-block";
		}

		function callXHR(profName) {
			// Get the courses of the prof specified
			document.querySelector("#save").style.display = "none";
			var xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function() {
				if (xhr.readyState === 4 && xhr.status === 200) {
					// If the drop down has been made, delete it
					if (document.querySelector('#show ~ select')) {
						var dropDown = document.querySelector('#show ~ select');
						dropDown.remove();
					}
					// Make the dropdown
					document.querySelector("#show").style.display = "inline";
					var select = document.getElementById('show').parentNode;
					select.append(document.createElement('select'));
					var dropDown = document.querySelector('#show ~ select');
					dropDown.name = 'course';
					dropDown.id="dropdown";
					var json = JSON.parse(xhr.response);
					// Add the courses returned by json to to the dropdown
					Object.keys(json).map(function(objectKey, index) {
						if (json[objectKey]) {
							if (index == 0) {
								var placeholder = document.createElement('option');
								placeholder.value = "";
								placeholder.textContent = "Select a course";
								dropDown.appendChild(placeholder);
							}
							var option = document.createElement('option');
							option.value = objectKey;
							option.textContent = json[objectKey];
							dropDown.appendChild(option);
						}
					});
					document.querySelector("#show").style.display = "none";
					document.getElementById('dropdown').addEventListener("change", showSave);
					console.log("XHR Request done");

				}
			};
			xhr.open("GET", "/course/prof/" + profName + '/', true);
			xhr.setRequestHeader("Content-Type", "application/json");
			xhr.send();
			console.log('Sent XHR request for prof ' + profName);
		}

		document.getElementById('prof').addEventListener("change", dropDownSelect);
		

	</script>
</form>
{% endblock %}