<!DOCTYPE html>
<html>
<head>
	<title>Academe</title>
	<style>
		table {
		    font-family: arial, sans-serif;
		    border-collapse: collapse;
		    width: 100%;
		}

		td, th {
		    border: 1px solid #dddddd;
		    text-align: left;
		    padding: 8px;
		}

		tr:nth-child(even) {
		    background-color: #dddddd;
		}
	</style>
</head>
<body>
	<center><h1>Reviews</h1></center>
	<table style="border: 1px solid black">
		<tr>
			<th>Prof Name</th>
			<th>Review</th>
			<th>Rating</th>
			<th>Created At</th>
			<th>Updated At</th>
		</tr>
		<!-- Create the table rows -->
		{% for review in reviews %} 
		<tr>
			<td>{{ review.prof.first_name }} {{ review.prof.last_name }}</td>
			<td>{{ review.message }}</td>
			<td>{{ review.rating }}</td>
			<td>{{ review.created_at }}</td>
			<td>{{ review.updated_at }}</td>
		</tr>
		{% endfor %}
	</table>

	<!-- Make the form for uploading a new review -->
	<h1>New review</h1>
	<form method="POST">
		{% csrf_token %}
		{{ upload_form.as_p }}
		<button type="submit">Save</button>
	</form>
</body>
</html>
