{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Academe</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="123.css">
</head>
<body>
<nav class="navbar navbar-light navbar-toggleable-md bg-faded">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
        <a class="navbar-brand" href="{% url 'homepage' %}">Academe</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'browse' %}">Browse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'review' %}">Create Review</a>
                </li>
            </ul>
            <form class="form-inline"><ul class="navbar-nav mr-auto">
                	{% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" id="username">Hi, {{user.username}}!</a>
                    </li>

	                <li class="nav-item">
	                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
	                </li>
                	{% else %}
	                <li class="nav-item">
	                    <a class="nav-link" href="{% url 'login' %}">Login</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="{% url 'signup' %}">Sign-up</a>
                	</li>
                	{% endif %}
            	</ul>
            </form>
        </div>
    </div>
</nav>
    <div class="content">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>