{% extends 'templates/base.html' %}
{% block content %}
	<h2><center> Welcome to Academe! </center></h2>
	<br>
	<h3><center> Search for Reviews </center></h3>
	<form method="post" action="/search/" style="text-align: center">
		{% csrf_token %}
		<div>
			<br>
			<input type="text" placeholder="Search a course" name="course">
			<input type="text" placeholder="Search a prof" name="prof">
			<br>
		</div>
		<div>
			<button type = "submit" class = "btn btn-primary">Search Course</button>
			<button type = "submit" class = "btn btn-primary">Search Prof</button>
		</div>
		<!--<div>
			<input type="text" placeholder="Search a prof" name="prof">
			<br>
			<input class="btn-primary" id="submitsearch" type="Search Prof" name="">	
		</div> -->
		<br>

	</form>
{% endblock %} 