<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>

   <!-- NAVBAR WITH FORM -->
  <nav class="navbar navbar-light navbar-toggleable-md bg-faded">
        <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
          <a class="navbar-brand" href="#">Welcome to Academe!</a>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link btn" href="Academe_home.html">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">About</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Services</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Contact</a>
                  </li>
              </ul>

              <form class="form-inline">
                <input type="text" class="form-control" placeholder="Search">
                <button class="btn btn-outline-success">Search</button>
              </form>
            </div>
          </div>
    </nav>

    <br>

    <div> 
    <p>

      Danao, Adrian Dominic

        <div> 
            <p>Classes</p>
            <a class="btn" href="#">Introduction to Kapogian I</a>
            <a class="btn" href="#">Introduction to Kapogian II</a>
            <a class="btn" href="#">Financial Marketing Science III</a>
        </div>

    </p>

    </div>

    <table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Pros</th>
      <th>Cons</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>I Love him he is the best prof evur.</td>
      <td>WALA</td>
      <td>TAKE HIM</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>GIVE ME YOUR BABIES</td>
      <td>None</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>I wish I was as cool as this guy</td>
      <td>I think he's kinda gay</td>
      <td></td>
    </tr>
    <tr>
       <th scope="row">3</th>
      <td>None</td>
      <td>He sucks</td>
      <td>bad</td>
    </tr>
  </tbody>
</table>

<div class="form-group">
  <label for="comment">Comment on this prof:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
  <button type="submit" class="btn btn-default">Submit Review</button>
</div>

</body>
</html>