{% extends 'templates/base.html' %}
{% block content %}
    <div> 
    <h1><center>{{prof.first_name}} {{prof.last_name}}</center></h1>
    <h3><center>Reviews</center></h3>

    </div>

    <table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Rating</th>
      <th>Review</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    {% for review in reviews %}
    <tr>
      <th scope="row">{{ review.id }}</th>
      <td>{{ review.rating }}</td>
      <td>{{ review.message }}</td>
      <td>{{ review.created_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}

<div class="form-group">
  <label for="comment">Review {{ prof.first_name }} {{ prof.last_name }}</label>
  <form method="POST">
    {% csrf_token %}
    <p>{{ review_form.message }}</p>
    <p>{{ review_form.rating }}</p>
    <button type="submit" class="btn btn-default">Submit Review</button>
  </form>
</div>


{% endblock %}