{% extends 'templates/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/reviews.css' %}">
{% endblock %}
{% block content %}
    <div> 
      <h1>{{prof.first_name}} {{prof.last_name}}</h1>
      <p id="review_action" ><a href="{% url 'review_prof' prof_id=prof.id %}">Review {{ prof.first_name }} {{ prof.last_name }}</a></p>
    </div>  
    <div class="reviews">
      <h4>Reviews <span>{{ reviews.count }} total</span></h4>
      {% for review in reviews %}
      <div class="review">
        <h3><img src="http://style.anu.edu.au/_anu/4/images/placeholders/person.png">{{review.user}} <span>Gave a rating of {{ review.rating }}/5</span></h3>
        <p>&#8220;{{review.message}}&#8221;</p>
      </div>
      {% endfor %}
    </div>

    
<!-- 
    <table class="table table-bordered">
  <thead>
    <tr>
      <th>Review #</th>
      <th>Review By</th>
      <th>Course</th>
      <th>Professor</th>
      <th>Rating</th>
      <th>Review</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    {% for review in reviews %}
    <tr>
      <th scope="row">{{ review.id }}</th>
      <td>{{ review.user }}</td>
      <td>{{ review.course }}</td>
      <td>{{ review.prof.first_name }} {{review.prof.last_name}}</td>
      <td>{{ review.rating }}</td>
      <td>{{ review.message }}</td>
      <td>{{ review.created_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table> -->
{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}



<!-- <div class="form-group">
  <label for="comment">Review {{ prof.first_name }} {{ prof.last_name }}</label>
  <form method="POST">
    {% csrf_token %}
    <p>{{ review_form.message }}</p>
    <p>{{ review_form.rating }}</p>
    <p>{{ review_form.course }}</p>
    <button type="submit" class="btn btn-default">Submit Review</button>
  </form>
</div> -->


{% endblock %}